/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
}

/* Elements
--------------------------------------------- */
ul {
}

ol {
}

dl {
}

figure {
}

table {
}

/* Links
--------------------------------------------- */
a {
}

a:visited {
}

a:hover {
}

a:focus {
}

a:active {
}

.cta {
  background-color: #d0d8e1;
  border: thick double #32a1ce;
  color: #2e2623;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto 1rem;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.site-navigation {
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  bottom: 0;
  width: 20%;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.site-navigation li {
  margin: 0;
}

.site-navigation a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
}

.site-navigation a:hover {
  background-color: rgba(68, 68, 68, 0.8);
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
}

.site-navigation svg {
  margin-right: 5px;
  
}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* Main
--------------------------------------------- */
.wrapper {
  background-color: #8FA3AA;
  text-align: left;
}
/* Footer
--------------------------------------------- */
