/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
}

/* Elements
--------------------------------------------- */
ul {
}

ol {
}

dl {
}

figure {
}

table {
}

/* Links
--------------------------------------------- */
a {
}

a:visited {
}

a:hover {
}

a:focus {
}

a:active {
}

.cta {
  background-color: #d0d8e1;
  border: thick double #32a1ce;
  color: #2e2623;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto 1rem;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* Main
--------------------------------------------- */
.wrapper {
  background-color: #d0d8e1;
  text-align: left;
}
/* Footer
--------------------------------------------- */
