/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  line-height: 1.6;
}

.quote {
  font-size: 'Poppins', sans-serif;
  font-size: 19px;
  font-weight: 900;
  position: relative;
  margin-top: 50px;
}

/* Elements
--------------------------------------------- */
ul {}

ol {}

dl {}

figure {}

table {}

.thumbnail-wrapper {}

.featured-image {
  max-width: 25%;
  height: auto;
  border-radius: 5px;
}

/* Links
--------------------------------------------- */
a {}

a:visited {}

a:hover {}

a:focus {}

a:active {}

.cta {
  background-color: #d0d8e1;
  border: thick double #32a1ce;
  color: #2e2623;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5rem auto;

}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.site-navigation {
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  bottom: 0;
  width: 20%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.site-navigation li {
  margin: 0;
}

.site-navigation a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
}

.site-navigation a:hover {
  background-color: rgba(68, 68, 68, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.site-navigation svg {
  margin-right: 5px;

}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* Main
--------------------------------------------- */
body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body.home-page {
  overflow: hidden;
}

.wrapper {
  text-align: left;
  background-color: #8FA3AA;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px 2rem;
  margin: 5px;
}

.skills ul {
  padding: 0;
  text-align: left;
}

.skills li {
  margin-bottom: 5px;
}


.skills>ul {
  margin: 10px 0;
}

  .acf-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
  }

  .acf-image-container div {
    width: calc(50% - 20px);
    margin: 10px; 
  }

  .acf-image {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }


/* Desktop Styles */
@media (min-width:48em) {
  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .skills>ul {
    width: 100%;
    margin: 10px 15px 10px 10px;
  }

  .skills {
    flex-direction: column;
    align-items: center;
  }
  .acf-image-container div {
    width: calc(25% - 20px);
    margin: 10px; 
  }

}

/* Footer
--------------------------------------------- */
.social-media {
  position: fixed;
  left: 0;
  top: 70%;
  transform: translateY(-50%);
  width: auto;
  padding: 10px;
  z-index: 999;
}

.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.social-media li {
  margin: 0;
}

.social-media a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  background-color: #fff;
}

.social-media a:hover {
  background-color: #D3C4D8;
}

.copyright-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #2e2623;
  z-index: 999;
}